@import '~antd/dist/antd.css';

.login-header {
  background: aliceblue;
  border-bottom: grey 1px solid;
}

.login-header .tel {
  float: right;
}

.login-content {
  background-image: url("https://gimg2.baidu.com/image_search/src=http%3A%2F%2Fpicnew13.photophoto.cn%2F20181125%2Fjianyuelansejianbianjihedaqibeijingbanner-32379027_1.jpg&refer=http%3A%2F%2Fpicnew13.photophoto.cn&app=2002&size=f9999,10000&q=a80&n=0&g=0n&fmt=jpeg?sec=1617182588&t=6574937541a014ff5ae2e79819fddc4d");
  background-repeat: no-repeat;
  background-size: 100%;
}

.login-footer {
  background: cornsilk;
}

